<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>FileName</key>
	<false/>
	<key>MethodName</key>
	<false/>
	<key>AppName</key>
	<false/>
	<key>FileLogger</key>
	<true/>
	<key>DateFormat</key>
	<string>dd/MM/yyyy HH:mm:SSS</string>
</dict>
</plist>
